.container {
  width: 360px;
  height: 88px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.label {
  margin-bottom: 5px;
}

.inputContainer {
  display: flex;
  align-items: center;
  background-color: rgb(247, 247, 247);
  border-radius: 12px;
  padding: 0 8px;
  height: 100%;
  box-sizing: border-box;
}

.icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.input {
  flex: 1;
  border: none;
  border-radius: 12px;
  background-color: rgb(247, 247, 247);
  font-size: 16px;
  outline: none;
}
